player-connection-mode=Listen
player-connection-guid=1947482287
player-connection-debug=0
player-connection-project-name=Game
player-connection-ip=192.168.8.100
player-connection-ip=192.168.74.225
player-connection-ip=26.179.19.25
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
